* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

header {
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 2.5rem;
  font-size: 1.4rem;
}
header div {
  display: flex;
  gap: 1rem;
}
header div p {
  white-space: nowrap;
}
header a {
  color: hsl(0, 0%, 0%);
}
header ul {
  display: flex;
  gap: 1rem;
}
header ul li {
  list-style-type: none;
}
header img {
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (min-width: 932px) {
  header {
    justify-content: space-between;
  }
  header img {
    width: 2rem;
    height: 2rem;
    margin: 0.4rem;
    object-fit: contain;
  }
  header div {
    align-items: center;
  }
}
.hero {
  padding: 3rem;
  font-family: sans-serif;
}
.hero h1 {
  font-size: 1.8rem;
  white-space: nowrap;
  margin-bottom: 1.5rem;
}
.hero .intro {
  margin-bottom: 2.5rem;
  font-weight: 500;
  line-height: 1.6rem;
}
.hero .watch-story-button {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 0%);
  padding: 1em;
  max-width: fit-content;
}
.hero .watch-story-button .button {
  color: white;
  font-family: monospace;
  font-size: 1.5rem;
}
.hero .watch-story-button img {
  background-color: hsl(0, 0%, 0%);
  object-fit: contain;
  width: 20px;
  height: 20px;
}

.article-1 {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: start;
  padding: 6rem 35% 0 0;
  align-items: center;
  height: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.article-1 h2 {
  color: hsl(0, 0%, 96%);
  font-size: 2rem;
  width: 15ch;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 10px rgb(0, 0, 0);
}
.article-1 img {
  max-width: 3rem;
  max-height: 3rem;
  padding: 0.5rem;
  background-color: white;
  border: 0.4rem solid hsla(0, 0%, 50%, 0.4);
  border-radius: 50%;
  margin-right: 13rem;
}

.cards {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.cards .article-1 {
  background-image: url(./images/white-box.jpg);
  background-position: 50%;
}
.cards .article-2 {
  background-image: url(./images/room.jpg);
}
.cards .article-3 {
  background-image: url(./images/black-white.jpg);
}

.article-2 {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: start;
  padding: 6rem 35% 0 0;
  align-items: center;
  height: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.article-2 h2 {
  color: hsl(0, 0%, 96%);
  font-size: 2rem;
  width: 15ch;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 10px rgb(0, 0, 0);
}
.article-2 img {
  max-width: 3rem;
  max-height: 3rem;
  padding: 0.5rem;
  background-color: white;
  border: 0.4rem solid hsla(0, 0%, 50%, 0.4);
  border-radius: 50%;
  margin-right: 13rem;
}

.cards {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.cards .article-1 {
  background-image: url(./images/white-box.jpg);
  background-position: 50%;
}
.cards .article-2 {
  background-image: url(./images/room.jpg);
}
.cards .article-3 {
  background-image: url(./images/black-white.jpg);
}

.article-3 {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: start;
  padding: 6rem 35% 0 0;
  align-items: center;
  height: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.article-3 h2 {
  color: hsl(0, 0%, 96%);
  font-size: 2rem;
  width: 15ch;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 10px rgb(0, 0, 0);
}
.article-3 img {
  max-width: 3rem;
  max-height: 3rem;
  padding: 0.5rem;
  background-color: white;
  border: 0.4rem solid hsla(0, 0%, 50%, 0.4);
  border-radius: 50%;
  margin-right: 13rem;
}

.cards {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.cards .article-1 {
  background-image: url(./images/white-box.jpg);
  background-position: 50%;
}
.cards .article-2 {
  background-image: url(./images/room.jpg);
}
.cards .article-3 {
  background-image: url(./images/black-white.jpg);
}

@media screen and (min-width: 932px) {
  .cards {
    flex-direction: row;
    justify-content: center;
  }
  .cards .article-1,
  .cards .article-2,
  .cards .article-3 {
    padding: 5rem;
  }
}
footer {
  margin-top: 2.5rem;
  padding: 2rem;
}
footer p {
  color: rgb(174, 174, 174);
  font-size: 1.5rem;
}

@media screen and (min-width: 932px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  footer {
    margin: auto auto 0 auto;
  }
}
body {
  margin: 0 10vw;
}

a {
  text-decoration: none;
}
