footer {
  margin-top: 2.5rem;
  padding: 2rem;
  p {
    color: rgb(174, 174, 174);
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 932px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  footer {
    margin: auto auto 0 auto;
  }
}
