@use "mixins" as *;
@use "variables" as *;

header {
  @include flex(2rem);
  justify-content: center;
  padding: 2.5rem;
  font-size: $header-font-size;
  div {
    @include flex(1rem);
    p {
      white-space: nowrap;
    }
  }
  a {
    color: $primary-color;
  }
  ul {
    @include flex(1rem);
    li {
      list-style-type: none;
    }
  }
  img {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media screen and (min-width: 812px) {
  header {
    justify-content: space-between;
    img {
      width: 2rem;
      height: 2rem;
      margin: 0.4rem;
      object-fit: contain;
    }
    div {
      align-items: center;
    }
  }
}
