@mixin flex($gap) {
  display: flex;
  gap: $gap;
}

@mixin space($bottom) {
  margin-bottom: $bottom;
}

@mixin card-base {
  flex-direction: column;
  justify-content: start;
  padding: 6rem 35% 0 0;
  align-items: center;
  height: 45vh;

  background-repeat: no-repeat;
  background-size: cover;
}

@mixin header_image-settings {
  h2 {
    color: hsl(0, 0%, 96%);
    font-size: 2rem;
    width: 15ch;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 10px rgb(0, 0, 0);
  }
  img {
    max-width: 3rem;
    max-height: 3rem;
    padding: 0.5rem;
    background-color: white;
    border: 0.4rem solid hsla(0, 0%, 50%, 0.4);
    border-radius: 50%;
    margin-right: 13rem;
  }
}
